body {
    height: 100vh;
    background-image:url(../img/flash5.jpg);
    background-repeat: no-repeat;
    background-size:1601px 800px;
    display: flex;
    flex-direction: column;
    padding: 80px 128px 50px 128px;
    
}




